.container {
  margin-top: 20px;
}
#num {
  margin-right: 5px;
  border-radius: 5%;
  border: 1px solid #eee;
  height: 35px;
  max-width: 150px;
}
.otherBtn {
  width: 100px;
}

#mean,
#median,
#mode,
#range {
  max-width: 50px;
  text-align: center;
  font-weight: bold;
  border-radius: 5%;
  border: 1px solid #eee;
}
